.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__link {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}